<div class="container floatLeft" role="main">
    <div class="card" style="width:400px" *ngIf="register">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div *ngIf="edit">
                <label>ID: </label><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" ngModel name="id" [(ngModel)]="newid" type="number" required #id="ngModel"
                        placeholder="Id" />
                </div>
                <div class="alert alert-danger" *ngIf="id.invalid && (id.dirty || id.touched)" class=" alert alert-danger">
                    <p *ngIf="id.errors.required">
                        This field is required!
                    </p>
                </div>
            </div>
            <hr>

            <label>Name of Student: </label><br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" ngModel name="name" [(ngModel)]="newname" required #name="ngModel"
                    minlength="5" placeholder="ex. Annabelle Belciña" />
            </div>
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)" class=" alert alert-danger">
                <p *ngIf="name.errors.required">
                    This field is required!
                </p>
                <p *ngIf="name.errors.minlength">
                    Must at least 5 characters!
                </p>
            </div>
            <hr>

            <label> Email: </label><br>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" ngModel name="email" [(ngModel)]="newemail" required #emailname="ngModel"
                    type="email" [email]="true" placeholder="ex. anna@gmail.com" />
            </div>
            <div class="alert alert-danger" *ngIf="emailname.invalid && (emailname.dirty || emailname.touched)" class=" alert alert-danger">
                <p *ngIf="emailname.errors.required">
                    This field is required!
                </p>
                <p *ngIf="emailname.errors.email">
                    Must be in email format!
                </p>
            </div>
            <hr>

            <label> Phone Number: </label>

            <span> Format: 0923-161-5542</span>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" ngModel name="phone" [(ngModel)]="newphone" #phone="ngModel" required
                    placeholder="0923-161-5542">
            </div>
            <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched)" class=" alert alert-danger">
                <p *ngIf="phone.errors.required">
                    This field is required!
                </p>
            </div>
            <br><br>
            <button class="btn btn-primary" [disabled]="!form.form.valid">{{submit}}</button> <button class="btn btn-info"
                (click)="showlist()">Show List</button>
        </form>
    </div>
</div>
<div>
    <button class=" home btn btn-primary" routerLink="/home">Back to Home</button>
</div>
<div class="container floatRight">
    <div class="card2" style="width:900px" *ngIf="list">
        <app-child-list (newEdit)="editForm($event)" [studentList]="infoList" (register2)="register = $event" (edit)="edit = $event"
            (list2)="list = $event"></app-child-list>
    </div>
</div>