table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
}
th{
  width: 250px;
}
button{
  
  font-size:12px 
}
.back{
  margin-left: 760px;
}

.center{
  text-align: center;
}

.left{
  margin-right: 10px
}